Repository bdidthis/harmoniq, changes with the labels that .github/labeler.yml gives for each.
All labels: bpm, key, offline, ui

.github/labeler.yml:

bpm: [lib/bpm_estimator.dart]
key: [lib/key_detector.dart]
offline: [lib/offline_file_analyzer_page.dart]
ui: [lib/analyzer_page.dart]

chore: Claude connection test
  CLAUDE_TEST.txt
Labels: none

ci: replace 'flutter format' with 'dart format' in workflows
  .github/workflows/flutter-ci.yml
Labels: none

style: auto-format code to fix CI
  lib/analyzer_page.dart
  pubspec.lock
Labels: ui

ci: switch to 'dart format' and auto-format code
  lib/analyzer_page.dart
Labels: ui

update
  ios/Podfile.lock
  lib/analyzer_page.dart
  lib/bpm_calibrated.dart
  lib/bpm_estimator.dart
  lib/offline_file_analyzer_page.dart
Labels: bpm, offline, ui

update
  lib/analyzer_page.dart
  lib/bpm_estimator.dart
  lib/estimator_factory.dart
Labels: bpm, ui

update
  lib/bpm_estimator.dart
Labels: bpm

chore: run dart format on all files
  lib/analyzer_page.dart
  lib/bpm_calibrated.dart
  lib/bpm_estimator.dart
  lib/estimator_factory.dart
  lib/offline_file_analyzer_page.dart
Labels: bpm, offline, ui
